.Header {
  background: url('/images/mobile-header.jpg');
  background-size:cover;
  min-height: 254px;
  display: flex;
  justify-content: center;
  align-items: center;
}


h1 {
  font-family: Arial-Black, Helvetica, sans-serif;
  font-size: 25px;
  color: #FFFFFF;
  letter-spacing: 0.58px;
  text-align: center;
  margin: 0;
  width: 160px;
}

ul {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: flex-end;
  margin: 0;
  padding: 10px;
}

ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: ArialNarrow-Bold, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  margin-right: 25px;
}

ul li a:hover {
  text-decoration: underline;
}
