.ballotFooter {
  margin: 0 auto;
  font-family: ArialNarrow;
  font-weight: bold;
  color:#ffffff;
  font-size: 12px;
  margin-top: 25px;
  max-width: 300px;
  padding-bottom: 100px;
}

.complete {
  display: flex;
  align-items: center;
}

.incomplete {
  display: flex;
  align-items: center;
}

.footerIcon {
  margin-right: 15px;
}

.payment {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paymentLeft {
  display: flex;
  align-items: center;
}

.payment img {
  width: 25px;
  box-sizing: content-box;
  margin-top: -1px;
}

.venmoHandle {
  color: #C93535;
}

@media (min-width: 900px) {
  .ballotFooter {
    margin-top: 35px;
    font-size: 18px;
    max-width: 460px;
  }

  .payment {
    margin-top: 25px;
  }

  .paymentRight {
    display: flex;
    align-items: center;
  }

  .venmoHandle {
    padding-left: 15px;
  }

  .payment img {
    width: 36px;
  }
}
