table {
  width: 100%;
  background-color: #d8d8d8;
}

th {
  font-family: ArialNarrow;
  color: #b82724;
  padding: 10px;
}

.desktopOnly {
  display: none;
}


@media (min-width: 900px) {
  table {
    border-collapse: collapse;
  }

  th {
    padding: 25px;
  }

  .desktopOnly {
    display: block;
  }
}
